* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #cccedf;
}
header {
    height: 6.25rem;
    background: linear-gradient(to right, #000c67, #007be5);
    padding: 0 3.125rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-transform: uppercase;
    max-width: 9.375rem;
    font-weight: 200;
}
input {
    display: none;
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu ul li {
    padding: .625rem;
    padding-right: 1.25rem;
    margin-right: .9375rem;
}
.menu ul li:hover {
    background: blue;
}
.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 .625rem;
    transition: 0.4s;
}
.menu a:hover {
    color: orange;
}
.mostrar-menu,
.esconder-menu {
    font-size: 1.875rem;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu {
    order: 1;
}
.mostrar-menu,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #2d27e9;
}
#check {
    display: none;
}
#banner {
    padding: 0 3.125rem;
    background-image: url("https://cdn.pixabay.com/photo/2016/05/27/14/33/football-1419954_1280.jpg");
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#banner::before {
    content: '';
    /*background: rgba(77, 77, 92, 0.6);*/
    position: absolute;
    width: 100%;
    height: 50vh;
    left: 0;
}
.contenido-banner{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner h1 {
    font-size: 3.75rem;
    font-weight: bold 400;
    padding: .625rem 0px;
    color: #eee;
}
.contenido-banner p {
    font-weight: 600;
    color: #0b60af;
    font-size: 1.5625rem;
}
#personas {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#personas img {
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#personas div {
    padding: 1.875rem 1.875rem;
}

#personas div p {
    color: #22223b87;
    font-size: 1.125rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
.section3 {
    margin: 0;
    padding: 0;
    
}
.contenedor3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    margin-top: 0;

    
}
.contenedor-img {
    margin: 0;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}
.contenedor3 .contenedor-img img {
    object-fit: cover;
    width: 28.125rem;
    height: 31.25rem;
    display: block;
    margin-bottom: .9375rem;
    margin: 0;
    padding: 0;
    margin-top: .9375rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    cursor: pointer;
}
.figcaption {
    text-align: center;
    margin-top: .3125rem;
    padding-top: .5rem;
    font-size: 27px;
}
.footer {
    margin-top: 1.25rem;
    text-align: center;
    background-color: #2b803542;
}
.contenedor-redes {
    margin: .625rem;
    text-align: center;
    font-size: 2.5rem;
    background-color: #bbb1cc42;
    padding: .625rem;
}
.contenedor-redes a {
    padding: 1.25rem;
}
.contenedor-redes i:hover {
    color: #999dc2;
    transform: translate(2s);
}
.creado {
    font-size: 1.25rem;
    padding-top: .5rem;
}
/*seccion real madrid*/
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(210, 208, 206);
}
.header-r {
    height: 6.25rem;
    background: linear-gradient(to right,  #e8ebed, #8a8b96);
    padding: 0 3.125rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-r {
    text-transform: uppercase;
    max-width: 9.375rem;
    height: 5rem;
    font-weight: 200;
}
input {
    display: none;
}
.menu-r ul {
    display: flex;
    list-style: none;
}
.menu-r ul li {
    padding: .625rem;
    padding-right: 1.25rem;
    margin-right: .9375rem;
}
.menu-r ul li:hover {
    background: rgb(141, 141, 163);
}
.menu-r a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 .625rem;
    transition: 0.4s;
}
.menu-r a:hover {
    color: rgb(52, 51, 47);
}
.mostrar-menu,
.esconder-menu {
    font-size: 1.875rem;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu {
    order: 1;
}
.mostrar-menu,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #6cc091;
}
#check {
    display: none;
}
#inicio-r {
    padding: 0 3.125rem;
    background-image: url("https://i.pinimg.com/564x/e1/56/79/e15679c85cd964f85602beb0d38f695d.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
#inicio-r::before {
    content: '';
    /*background: rgba(77, 77, 92, 0.6);*/
    position: absolute;
    width: 100%;
    height: 50vh;
    left: 0;
}
.contenido-banner-r{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner-r h1 {
    font-size: 40px;
    font-weight: bold 400;
    padding: .625rem 0px;
    color: #9898bd;
}

#champions-r {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#champions-r img {
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#champions-r div {
    padding: 1.875rem 1.875rem;
}

#champions-r div p {
    color: #22223b87;
    font-size: 1.25rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
#liga-r {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#liga-r img {
    display: flex;
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#liga-r div {
    padding: 1.875rem 1.875rem;
}

#liga-r div p {
    color: #22223b87;
    font-size: 1.125rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
#mundial-r {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#mundial-r img {
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#mundial-r div {
    padding: 1.875rem 1.875rem;
}

#mundial-r div p {
    color: #22223b87;
    font-size: 1.125rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
.footer-r {
    margin-top: 1.25rem;
    text-align: center;
    background-color: #50585442;
}
.contenedor-redes-r {
    margin: .625rem;
    text-align: center;
    font-size: 2.5rem;
    background-color: #51535242;
    padding: .625rem;
}
.contenedor-redes-r a {
    padding: 1.25rem;
}
.contenedor-redes-r i:hover {
    color: #41434d;
    transform: translate(2s);
}
.creado {
    font-size: 1.25rem;
    padding-top: .5rem;
}
/*seccion Barcelona*/
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(210, 208, 206);
}
.header-bar {
    height: 6.25rem;
    background: linear-gradient(to right,  #bc68bf, #b58542);
    padding: 0 3.125rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-bar {
    text-transform: uppercase;
    max-width: 9.375rem;
    height: 5rem;
    font-weight: 200;
}
input {
    display: none;
}
.menu-bar ul {
    display: flex;
    list-style: none;
}
.menu-bar ul li {
    padding: .625rem;
    padding-right: 1.25rem;
    margin-right: .9375rem;
}
.menu-bar ul li:hover {
    background: rgb(213, 111, 143);
}
.menu-bar a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 .625rem;
    transition: 0.4s;
}
.menu-bar a:hover {
    color: rgb(52, 51, 47);
}
.mostrar-menu,
.esconder-menu {
    font-size: 1.875rem;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu {
    order: 1;
}
.mostrar-menu,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #6cc091;
}
#check {
    display: none;
}
#inicio-bar {
    padding: 0 3.125rem;
    background-image: url("https://i.pinimg.com/564x/71/c2/be/71c2be9d4c687e8ee2e5595003c653ab.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
#inicio-bar::before {
    content: '';
    /*background: rgba(77, 77, 92, 0.6);*/
    position: absolute;
    width: 100%;
    height: 50vh;
    left: 0;
}
.contenido-banner-bar{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner-bar h1 {
    font-size: 2.5rem;
    font-weight: bold 400;
    padding: .625rem 0px;
    color: #9898bd;
}

#champions-bar {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#champions-bar img {
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#champions-bar div {
    padding: 1.875rem 1.875rem;
}

#champions-bar div p {
    color: #22223b87;
    font-size: 1.25rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
#liga-bar {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#liga-bar img {
    display: flex;
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#liga-bar div {
    padding: 1.875rem 1.875rem;
}

#liga-bar div p {
    color: #22223b87;
    font-size: 1.125rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
#mundial-bar {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#mundial-bar img {
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#mundial-bar div {
    padding: 1.875rem 1.875rem;
}

#mundial-bar div p {
    color: #22223b87;
    font-size: 1.125rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
.footer-bar {
    margin-top: 1.25rem;
    text-align: center;
    background-color: #ae0a4942;
}
.contenedor-redes-bar {
    margin: .625rem;
    text-align: center;
    font-size: 2.5rem;
    background-color: #79072b42;
    padding: .625rem;
}
.contenedor-redes-bar a {
    padding: 1.25rem;
}
.contenedor-redes-bar i:hover {
    color: #5f3e04;
    transform: translate(2s);
}
.creado {
    font-size: 1.25rem;
    padding-top: .5rem;
}
/*seccion Liverpool*/
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(210, 208, 206);
}
.header-liv {
    height: 6.25rem;
    background: linear-gradient(to right,  #900505, #ff0202);
    padding: 0 3.125rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-liv {
    text-transform: uppercase;
    max-width: 9.375rem;
    height: 5rem;
    font-weight: 200;
}
input {
    display: none;
}
.menu-liv ul {
    display: flex;
    list-style: none;
}
.menu-liv ul li {
    padding: .625rem;
    padding-right: 1.25rem;
    margin-right: .9375rem;
}
.menu-liv ul li:hover {
    background: rgb(232, 44, 81);
}
.menu-liv a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 .625rem;
    transition: 0.4s;
}
.menu-liv a:hover {
    color: rgb(52, 51, 47);
}
.mostrar-menu,
.esconder-menu {
    font-size: 1.875rem;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu {
    order: 1;
}
.mostrar-menu,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #e87c2a;
}
#check {
    display: none;
}
#inicio-liv {
    padding: 0 3.125rem;
    background-image: url("https://i.pinimg.com/564x/0f/9e/94/0f9e949d0477d8e304e2fe57429ccf02.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
#inicio-liv::before {
    content: '';
    /*background: rgba(77, 77, 92, 0.6);*/
    position: absolute;
    width: 100%;
    height: 50vh;
    left: 0;
}
.contenido-banner-liv{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner-liv h1 {
    font-size: 2.5rem;
    font-weight: bold 400;
    padding: .625rem 0px;
    color: #9898bd;
}

#champions-liv {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#champions-liv img {
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#champions-liv div {
    padding: 1.875rem 1.875rem;
}

#champions-liv div p {
    color: #22223b87;
    font-size: 1.25rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
#liga-liv {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#liga-liv img {
    display: flex;
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#liga-liv div {
    padding: 1.875rem 1.875rem;
}

#liga-liv div p {
    color: #22223b87;
    font-size: 1.125rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
#mundial-liv {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#mundial-liv img {
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#mundial-liv div {
    padding: 1.875rem 1.875rem;
}

#mundial-liv div p {
    color: #22223b87;
    font-size: 1.125rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
.footer-liv {
    margin-top: 1.25rem;
    text-align: center;
    background-color: #971e1e42;
}
.contenedor-redes-liv {
    margin: .625rem;
    text-align: center;
    font-size: 2.5rem;
    background-color: #b7232342;
    padding: .625rem;
}
.contenedor-redes-liv a {
    padding: 1.25rem;
}
.contenedor-redes-liv i:hover {
    color: #fc0404;
    transform: translate(2s);
}
.creado {
    font-size: 1.25rem;
    padding-top: .5rem;
}
/*seccion Manchester City*/
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(210, 208, 206);
}
.header-man {
    height: 6.25rem;
    background: linear-gradient(to right,  #58b6db, #14cbeb);
    padding: 0 3.125rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-man {
    text-transform: uppercase;
    max-width: 9.375rem;
    height: 5rem;
    font-weight: 200;
}
input {
    display: none;
}
.menu-man ul {
    display: flex;
    list-style: none;
}
.menu-man ul li {
    padding: .625rem;
    padding-right: 1.25rem;
    margin-right: .9375rem;
}
.menu-man ul li:hover {
    background: rgb(27, 211, 228);
}
.menu-man a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 .625rem;
    transition: 0.4s;
}
.menu-man a:hover {
    color: rgb(52, 51, 47);
}
.mostrar-menu,
.esconder-menu {
    font-size: 1.875rem;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu {
    order: 1;
}
.mostrar-menu,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #35ccd7;
}
#check {
    display: none;
}
#inicio-man {
    padding: 0 3.125rem;
    background-image: url("https://i.pinimg.com/564x/6a/f4/d5/6af4d5c8c06d61d4ff619ddeaa478772.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
#inicio-man::before {
    content: '';
    /*background: rgba(77, 77, 92, 0.6);*/
    position: absolute;
    width: 100%;
    height: 50vh;
    left: 0;
}
.contenido-banner-man{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner-man h1 {
    font-size: 2.5rem;
    font-weight: bold 400;
    padding: .625rem 0px;
    color: #9898bd;
}

#champions-man {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#champions-man img {
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#champions-man div {
    padding: 30px 30px;
}

#champions-man div p {
    color: #22223b87;
    font-size: 1.25rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
#liga-man {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#liga-man img {
    display: flex;
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#liga-man div {
    padding: 1.875rem 1.875rem;
}

#liga-man div p {
    color: #22223b87;
    font-size: 1.125rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
#mundial-man {
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}
#mundial-man img {
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#mundial-man div {
    padding: 1.875rem 1.875rem;
}

#mundial-man div p {
    color: #22223b87;
    font-size: 1.125rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
.footer-man {
    margin-top: 1.25rem;
    text-align: center;
    background-color: #207dba42;
}
.contenedor-redes-man {
    margin: .625rem;
    text-align: center;
    font-size: 2.5rem;
    background-color: #08718642;
    padding: .625rem;
}
.contenedor-redes-man a {
    padding: 1.25rem;
}
.contenedor-redes-man i:hover {
    color: #04e6ff;
    transform: translate(2s);
}
.creado {
    font-size: 1.25rem;
    padding-top: .5rem;
}
/*seccion Bayern Munich*/
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(210, 208, 206);
}
.header-bay {
    height: 6.25rem;
    background: linear-gradient(to right,  #d74b4b, #bf0505);
    padding: 0 3.125rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-bay {
    text-transform: uppercase;
    max-width: 9.375rem;
    height: 5rem;
    font-weight: 200;
}
input {
    display: none;
}
.menu-bay ul {
    display: flex;
    list-style: none;
}
.menu-bay ul li {
    padding: .625rem;
    padding-right: 1.25rem;
    margin-right: .9375rem;
}
.menu-bay ul li:hover {
    background: rgb(232, 44, 81);
}
.menu-bay a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 .625rem;
    transition: 0.4s;
}
.menu-bay a:hover {
    color: rgb(52, 51, 47);
}
.mostrar-menu,
.esconder-menu {
    font-size: 1.875rem;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu {
    order: 1;
}
.mostrar-menu,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #c42323;
}
#check {
    display: none;
}
#inicio-bay {
    padding: 0 50px;
    background-image: url("https://i.pinimg.com/564x/af/e5/1f/afe51f3bf50dfc423616d5a237925ad5.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
#inicio-bay::before {
    content: '';
    /*background: rgba(77, 77, 92, 0.6);*/
    position: absolute;
    width: 100%;
    height: 50vh;
    left: 0;
}
.contenido-banner-bay{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner-bay h1 {
    font-size: 2.5rem;
    font-weight: bold 400;
    padding: .625rem 0px;
    color: #9898bd;
}

#champions-bay {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#champions-bay img {
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#champions-bay div {
    padding: 1.875rem 1.875rem;
}

#champions-bay div p {
    color: #22223b87;
    font-size: 1.25rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
#liga-bay {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#liga-bay img {
    display: flex;
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#liga-bay div {
    padding: 1.875rem 1.875rem;
}

#liga-bay div p {
    color: #22223b87;
    font-size: 1.125rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
#mundial-bay {
    padding: 3.125rem 3.125rem;
    display: flex;
    justify-content: center;
    text-align: center;
}
#mundial-bay img {
    width: 100vh;
    height: 43.75rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: .625rem;
}
#mundial-bay div {
    padding: 1.875rem 1.875rem;
}

#mundial-bay div p {
    color: #22223b87;
    font-size: 1.125rem;
    padding: 1.25rem;
    padding-top: 12.5rem;
}
.footer-bay {
    margin-top: 1.25rem;
    text-align: center;
    background-color: #ea490f42;
}
.contenedor-redes-bay {
    margin: .625rem;
    text-align: center;
    font-size: 2.5rem;
    background-color: #f13b0e42;
    padding: .625rem;
}
.contenedor-redes-bay a {
    padding: 1.25rem;
}
.contenedor-redes-bay i:hover {
    color: #f7290e;
    transform: translate(2s);
}
.creado {
    font-size: 1.25rem;
    padding-top: .5rem;
}

/* seccion responsive pagina principal*/
@media(max-width: 768px) {
    .logo {
        max-width: 7.5rem;
        padding-top: .1875rem;
    }
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    .mostrar-menu {
        color: #fff;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d5c;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 6.25rem 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu ul {
        display: block;
    }
    .menu a {
        display: block;
        padding: .9375rem;
    }
    .esconder-menu {
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
    }
    #check:checked ~ .menu {
        right: 0;
    }
    #personas img{
        width: 80vh;
        height: 31.25rem;
    }
    #personas {
        flex-direction: column;
    }
    #personas div p {
        padding-top: 1.25rem;
    }
    .contenedor3 .contenedor-img img {
        width: 100vh;
        height: 31.25rem;
    }
}
@media(max-width: 425px){
    .logo {
        max-width: 5.625rem;
        padding-top: .1875rem;
    }
    .contenido-banner h1 {
        font-size: 1.875rem;
    }
    #personas img{
        width: 60vh;
        height: 25rem;
        
    }
    #personas {
        flex-direction: column;
        align-items: center;
    }
    #personas div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    .contenedor3 .contenedor-img img {
        width: 65vh;
        height: 25rem;
    }
    .contenedor-redes a i {
        width: 1.875rem;
    }

}
@media(max-width: 320px){
    .logo {
        max-width: 5rem;
        padding-top: .1875rem;
    }
    #personas img{
        width: 50vh;
        height: 25rem;
    }
    #personas {
        flex-direction: column;
    }
    #personas div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    .contenedor3 .contenedor-img img {
        width: 50vh;
        height: 18.75rem;
    }
    .contenedor-redes a {
        padding: .3125rem;
    }

}

/* seccion rs´ponsive real madrid*/

@media(max-width: 768px){
    .logo-r {
        max-width: 5.625rem;
        padding-top: .1875rem;
    }
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    .mostrar-menu {
        color: #fff;
    }
    .menu-r {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d51;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 6.25rem 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu-r ul {
        display: block;
    }
    .menu-r a {
        display: block;
        padding: .9375rem;
    }
    .esconder-menu {
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
    }
    #check:checked ~ .menu-r {
        right: 0;
    }
    #champions-r {
        flex-direction: column;
        align-items: center;
    }
    #champions-r img{
        width: 100vh;
        height: 37.5rem;
    }
    #champions-r div p {
        padding-top: 1.25rem;
    }
    #liga-r {
        flex-direction: column;
        align-items: center;
    }
    #liga-r img{
        width: 100vh;
        height: 37.5rem;
    }
    #liga-r div p {
        padding-top: 1.25rem;
    }
    #mundial-r {
        flex-direction: column;
        align-items: center;
    }
    #mundial-r img{
        width: 100vh;
        height: 37.5rem;
    }
    #mundial-r div p {
        padding-top: 1.25rem;
    }

}
@media(max-width: 425px){
    .logo-r {
        max-width: 5.625rem;
        padding-top: 3px;
    }
    #champions-r {
        flex-direction: column;
        
    }
    #champions-r img{
        width: 65vh;
        height: 31.25rem;
    }
    #champions-r div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #liga-r {
        flex-direction: column;
    }
    #liga-r img{
        width: 65vh;
        height: 31.25rem;
    }
    #liga-r div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #mundial-r {
        flex-direction: column;
    }
    #mundial-r img{
        width: 65vh;
        height: 31.25rem;
    }
    #mundial-r div p {
        padding-top: .625rem;
        width: 230px;
    }
    .contenedor-redes-r a {
        padding: .3125rem;
    }

}

@media(max-width: 320px){
    .logo-r {
        max-width: 5rem;
        padding-top: 3px;
    }
    #champions-r {
        flex-direction: column;
    }
    #champions-r img{
        width: 50vh;
        height: 25rem;
    }
    #champions-r div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #liga-r {
        flex-direction: column;
    }
    #liga-r img{
        width: 50vh;
        height: 25rem;
    }
    #liga-r div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #mundial-r {
        flex-direction: column;
    }
    #mundial-r img{
        width: 50vh;
        height: 25rem;
    }
    #mundial-r div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    .contenedor-redes-r a {
        width: 1.25rem;
        padding: .3125rem;
        gap: 3px;
    }

}

/* seccion responsive barcelona*/
@media(max-width: 768px){
    .logo-bar {
        max-width: 7.5rem;
        padding-top: .1875rem;
    }
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    .mostrar-menu {
        color: #fff;
    }
    .menu-bar {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #6f062e;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 6.25rem 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu-bar ul {
        display: block;
    }
    .menu-bar a {
        display: block;
        padding: .9375rem;
    }
    .esconder-menu {
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
    }
    #check:checked ~ .menu-bar {
        right: 0;
    }
    #champions-bar {
        flex-direction: column;
        align-items: center;
    }
    #champions-bar img{
        width: 100vh;
        height: 37.5rem;
    }
    #champions-bar div p {
        padding-top: 1.25rem;
    }
    #liga-bar {
        flex-direction: column;
        align-items: center;
    }
    #liga-bar img{
        width: 100vh;
        height: 37.5rem;
    }
    #liga-bar div p {
        padding-top: 1.25rem;
    }
    #mundial-bar {
        flex-direction: column;
        align-items: center;
    }
    #mundial-bar img{
        width: 100vh;
        height: 37.5rem;
    }
    #mundial-bar div p {
        padding-top: 1.25rem;
    }

}
@media(max-width: 425px){
    .logo-bar {
        max-width: 90px;
        padding-top: 3px;
    }
    #champions-bar {
        flex-direction: column;
    }
    #champions-bar img{
        width: 65vh;
        height: 31.25rem;
    }
    #champions-bar div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #liga-bar {
        flex-direction: column;
    }
    #liga-bar img{
        width: 65vh;
        height: 31.25rem;
    }
    #liga-bar div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #mundial-bar {
        flex-direction: column;
    }
    #mundial-bar img{
        width: 65vh;
        height: 31.25rem;
    }
    #mundial-bar div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    .contenedor-redes-bar a {
        padding: 5px;
    }

}

@media(max-width: 320px){
    .logo-bar {
        max-width: 5rem;
        padding-top: 3px;
    }
    #champions-bar {
        flex-direction: column;
    }
    #champions-bar img{
        width: 50vh;
        height: 25rem;
    }
    #champions-bar div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #liga-bar {
        flex-direction: column;
    }
    #liga-bar img{
        width: 50vh;
        height: 25rem;
    }
    #liga-r div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #mundial-bar {
        flex-direction: column;
    }
    #mundial-bar img{
        width: 50vh;
        height: 25rem;
    }
    #mundial-bar div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    .contenedor-redes-bar a {
        width: 1.25rem;
        padding: 5px;
        gap: 3px;
    }

}

/* seccion responsive liverpool*/
@media(max-width: 768px){
    .logo-liv {
        max-width: 7.5rem;
        padding-top: 3px;
    }
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    .mostrar-menu {
        color: #fff;
    }
    .menu-liv {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fb0703;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 6.25rem 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu-liv ul {
        display: block;
    }
    .menu-liv a {
        display: block;
        padding: .9375rem;
    }
    .esconder-menu {
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
    }
    #check:checked ~ .menu-liv {
        right: 0;
    }
    #champions-liv {
        flex-direction: column;
        align-items: center;
    }
    #champions-liv img{
        width: 100vh;
        height: 37.5rem;
    }
    #champions-liv div p {
        padding-top: 1.25rem;
    }
    #liga-liv {
        flex-direction: column;
        align-items: center;
    }
    #liga-liv img{
        width: 100vh;
        height: 37.5rem;
    }
    #liga-liv div p {
        padding-top: 1.25rem;
    }
    #mundial-liv {
        flex-direction: column;
        align-items: center;
    }
    #mundial-liv img{
        width: 100vh;
        height: 37.5rem;
    }
    #mundial-liv div p {
        padding-top: 1.25rem;
    }

}
@media(max-width: 425px){
    .logo-liv {
        max-width: 5.625rem;
        padding-top: 3px;
    }
    #champions-liv {
        flex-direction: column;
    }
    #champions-liv img{
        width: 65vh;
        height: 31.25rem;
    }
    #champions-liv div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #liga-liv {
        flex-direction: column;
    }
    #liga-liv img{
        width: 65vh;
        height: 31.25rem;
    }
    #liga-liv div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #mundial-liv {
        flex-direction: column;
    }
    #mundial-liv img{
        width: 65vh;
        height: 31.25rem;
    }
    #mundial-liv div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    .contenedor-redes-liv a {
        padding: 5px;
    }

}

@media(max-width: 320px){
    .logo-liv {
        max-width: 5rem;
        padding-top: 3px;
    }
    #champions-liv {
        flex-direction: column;
    }
    #champions-liv img{
        width: 50vh;
        height: 25rem;
    }
    #champions-liv div p {
        padding-top: 10px;
        width: 14.375rem;
    }
    #liga-liv {
        flex-direction: column;
    }
    #liga-liv img{
        width: 50vh;
        height: 25rem;
    }
    #liga-liv div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #mundial-liv {
        flex-direction: column;
    }
    #mundial-liv img{
        width: 50vh;
        height: 25rem;
    }
    #mundial-liv div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    .contenedor-redes-liv a {
        width: 1.25rem;
        padding: 5px;
        gap: 3px;
    }

}

/* seccion responsive man city*/
@media(max-width: 768px){
    .logo-man {
        max-width: 120px;
        padding-top: 3px;
    }
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    .mostrar-menu {
        color: #fff;
    }
    .menu-man {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #065d9c;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 6.25rem 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu-man ul {
        display: block;
    }
    .menu-man a {
        display: block;
        padding: 15px;
    }
    .esconder-menu {
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
    }
    #check:checked ~ .menu-man {
        right: 0;
    }
    #champions-man {
        flex-direction: column;
        align-items: center;
    }
    #champions-man img{
        width: 100vh;
        height: 37.5rem;
    }
    #champions-man div p {
        padding-top: 1.25rem;
    }
    #liga-man {
        flex-direction: column;
        align-items: center;
    }
    #liga-man img{
        width: 100vh;
        height: 37.5rem;
    }
    #liga-man div p {
        padding-top: 1.25rem;
    }
    #mundial-man {
        flex-direction: column;
        align-items: center;
    }
    #mundial-man img{
        width: 100vh;
        height: 37.5rem;
    }
    #mundial-man div p {
        padding-top: 1.25rem;
    }

}
@media(max-width: 425px){
    .logo-man {
        max-width: 5.625rem;
        padding-top: 3px;
    }
    #champions-man {
        flex-direction: column;
    }
    #champions-man img{
        width: 65vh;
        height: 31.25rem;
    }
    #champions-man div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #liga-r {
        flex-direction: column;
    }
    #liga-man img{
        width: 65vh;
        height: 31.25rem;
    }
    #liga-man div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #mundial-man {
        flex-direction: column;
    }
    #mundial-man img{
        width: 65vh;
        height: 31.25rem;
    }
    #mundial-man div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    .contenedor-redes-man a {
        padding: 5px;
    }

}

@media(max-width: 320px){
    .logo-man {
        max-width: 5rem;
        padding-top: 3px;
    }
    #champions-man {
        flex-direction: column;
    }
    #champions-man img{
        width: 50vh;
        height: 25rem;
    }
    #champions-man div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #liga-man {
        flex-direction: column;
    }
    #liga-man img{
        width: 50vh;
        height: 25rem;
    }
    #liga-man div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #mundial-man {
        flex-direction: column;
    }
    #mundial-man img{
        width: 50vh;
        height: 25rem;
    }
    #mundial-man div p {
        padding-top: 10px;
        width: 14.375rem;
    }
    .contenedor-redes-man a {
        width: 1.25rem;
        padding: 5px;
        gap: 3px;
    }

}

/* seccion responsive bayern*/
@media(max-width: 768px){
    .logo-bay {
        max-width: 7.5rem;
        padding-top: 3px;
    }
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    .mostrar-menu {
        color: #fff;
    }
    .menu-bay {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #8f0e0e;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 6.25rem 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu-bay ul {
        display: block;
    }
    .menu-bay a {
        display: block;
        padding: .9375rem;
    }
    .esconder-menu {
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
    }
    #check:checked ~ .menu-bay {
        right: 0;
    }
    #champions-bay {
        flex-direction: column;
        align-items: center;
    }
    #champions-bay img{
        width: 100vh;
        height: 37.5rem;
    }
    #champions-bay div p {
        padding-top: 1.25rem;
    }
    #liga-bay {
        flex-direction: column;
        align-items: center;
        
    }
    #liga-bay img{
        width: 100vh;
        height: 37.5rem;
    }
    #liga-bay div p {
        padding-top: 1.25rem;
    }
    #mundial-bay {
        flex-direction: column;
        align-items: center;
    }
    #mundial-bay img{
        width: 100vh;
        height: 37.5rem;
    }
    #mundial-bay div p {
        padding-top: 1.25rem;
    }

}
@media(max-width: 425px){
    .logo-bay {
        max-width: 5.625rem;
        padding-top: 3px;
    }
    #champions-bay {
        flex-direction: column;
    }
    #champions-bay img{
        width: 65vh;
        height: 31.25rem;
    }
    #champions-bay div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #liga-bay {
        flex-direction: column;
    }
    #liga-bay img{
        width: 65vh;
        height: 31.25rem;
    }
    #liga-bay div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #mundial-bay {
        flex-direction: column;
    }
    #mundial-bay img{
        width: 65vh;
        height: 31.25rem;
    }
    #mundial-bay div p {
        padding-top: .625rem;
        width: 230px;
    }
    .contenedor-redes-bay a {
        padding: .3125rem;
    }

}

@media(max-width: 320px){
    .logo-bay {
        max-width: 5rem;
        padding-top: 3px;
    }
    #champions-bay {
        flex-direction: column;
    }
    #champions-bay img{
        width: 50vh;
        height: 25rem;
    }
    #champions-bay div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    #liga-bay {
        flex-direction: column;
    }
    #liga-bay img{
        width: 50vh;
        height: 25rem;
    }
    #liga-bay div p {
        padding-top: .625rem;
        width: 230px;
    }
    #mundial-bay {
        flex-direction: column;
    }
    #mundial-bay img{
        width: 50vh;
        height: 25rem;
    }
    #mundial-bay div p {
        padding-top: .625rem;
        width: 14.375rem;
    }
    .contenedor-redes-bay a {
        width: 1.25rem;
        padding: .3125rem; 
        gap: .1875rem;
    }

}