@media screen and (max-width: 1024px){
    #champions-liv{
        img{
            width: 31.25rem;
            height: 90vh;
        }
        
    }
    #liga-liv{
        img{
            width: 31.25rem;
            height: 90vh;
        }
        
    }
    #mundial-liv{
        img{
            width: 31.25rem;
            height: 90vh;
        }
        
    }
}