.footer-r{
    margin-top: 1.25rem;
    text-align: center;
    background-color: #50585442;
    .contenedor-redes-r {
        margin: .625rem;
        text-align: center;
        font-size: 2.5rem;
        background-color: #51535242;
        padding: .625rem;
        a {
            padding: 1.25rem;
            i:hover {
                color: #41434d;
                transform: translate(2s);
            }
        }
        .creado {
            font-size: 1.25rem;
            padding-top: .5rem;
        }
    }
}