@media screen and (max-width: 1024px){
    #champions-bar{
        img{
            width: 31.25rem;
            height: 90vh;
        }
        
    }
    #liga-bar{
        img{
            width: 31.25rem;
            height: 90vh;
        }
        
    }
    #mundial-bar{
        img{
            width: 31.25rem;
            height: 90vh;
        }
        
    }
}