@media screen and (max-width: 425px){
    .header-r{
        width: auto;
        .logo-r {
            max-width: 5.625rem;
            padding-top: 3px;
        }
    }
    #inicio-r{
        width: auto;
    }
    #champions-r {
        flex-direction: column;
        img{
            width: 20.875rem;
            height: 70vh;
        }
        div{
            p{
                padding-top: .625rem;
                width: 19.375rem;
                font-size: 1.05rem;
            }
        }
        
    }
    #liga-r {
        flex-direction: column;
        img{
            width: 20.875rem;
            height: 70vh;
        }
        div{
            p{
                padding-top: .625rem;
                width: 19.375rem;
                font-size: 1.05rem;
            }
        }
    }
    #mundial-r {
        flex-direction: column;
        img{
            width: 20.875rem;
            height: 70vh;
        }
        div{
            p{
                padding-top: .625rem;
                width: 19.375rem;
                font-size: 1.05rem;
            }
        }
    }
    .footer-r{
        width: auto;
        .contenedor-redes-r{
            .redes{
                a{
                    padding: .3125rem;
                    i{
                        font-size: 35px;
                    }
                }
            }
        }
    }

}