@media screen and (max-width: 768px) {
    header {
        width: auto;
        height: auto;
        .logo {
            max-width: 7.5rem;
            padding-top: .1875rem;
        }
        .esconder-menu {
            display: block;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
        }
        .mostrar-menu {
            display: block;
            color: #fff;
        }
        #check:checked ~ .menu {
            right: 0;
        }
        .menu {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #4d4d5c;
            right: -100%;
            top: 0;
            text-align: center;
            padding: 6.25rem 0px;
            z-index: 100;
            transition: 0.8s;
            ul {
                display: block;
                .menu a {
                    display: block;
                    padding: .9375rem;
                }
            }
        }
    }
    
    #encabezado{
        flex-direction: column;
        h1{
            color: #7e7575;
        }
        img{
            width: 25rem;
            height: 80vh;
        }
        div{
            p{
                padding-top: 1.25rem;
            }
        }
        
    }
    #banner{
        width: auto;
    }
    .contenedor3{
        .contenedor-img{
            img{
                width: 31.25rem;
                height: 65vh;
            }
        }
        
    }
    footer{
        width: auto;
    }
}