@media screen and (max-width: 1024px){
    .ul1{
        li{
            a{
                gap: 2px;
                margin: 0;
                padding: 0;
                font-size: 15px;
            }
        }
    }
    #encabezado{
        p{
            justify-content: center;
            align-items: center;
        }
        img{
            width: 31.25rem;
            height: 41.25rem;
        }
    }
    
}

