@media screen and (max-width: 1024px){
    #champions-man{
        img{
            width: 31.25rem;
            height: 90vh;
        }
        
    }
    #liga-man{
        img{
            width: 31.25rem;
            height: 90vh;
        }
        
    }
    #mundial-man{
        img{
            width: 31.25rem;
            height: 90vh;
        }
        
    }
}